[General]
DiskImageDir=/home/whatisthis/xm7/Diskz/
TapeImageDir=
StateFileDir=
BMPFileDir=
WAVFileDir=
Version=2
CycleSteal=1
MainSpeed=1794
MMRSpeed=1565
FastMMRSpeed=2016
SubSpeed=2000
TapeFullSpeed=1
TapeFullSpeedMode=0
FullSpeed=0
AutoSpeedAdjust=0
FDDWait=1
[Sound]
SampleRate=48000
SoundBuffer=350
BeepFreq=1200
FMHQmode=1
StereoOut=1
TapeMon=0
FDDSound=0
[Keyboard]
RealTimeKeyScan=0
UseArrowFor10Key=0
Arrow8Dir=1
[JoyStick]
Type0=1
Rapid0=0
Rapid1=0
Code0=112
Code1=113
Code2=114
Code3=115
Code4=0
Code5=116
Code6=117
Type1=0
Rapid10=0
Rapid11=0
Code10=112
Code11=113
Code12=114
Code13=115
Code14=0
Code15=116
Code16=117
[Screen]
FullScan=1
[Option]
OPNEnable=1
WHGEnable=0
THGEnable=0
DigitizeEnable=1
ExtRAMEnable=1
MouseEmulation=0
MousePort=1
